{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 
    {% block title %}Job ApplicationForm{% endblock %}
  </title>
    <link rel="stylesheet" href="{% static 'css/form.css'%}">
  

</head>
<body>
    <section class="container">
        {% block body %}
        {% endblock body %}
    </section>
</body>
<script src="{% static 'js/new.js' %}"></script>

</html>
